[submodule "src/moveit2"]
	path = src/moveit2
	url = https://github.com/moveit/moveit2.git
	branch = humble
[submodule "src/moveit_msgs"]
	path = src/moveit_msgs
	url = https://github.com/moveit/moveit_msgs.git
	branch = humble
[submodule "src/moveit_resources"]
	path = src/moveit_resources
	url = https://github.com/moveit/moveit_resources.git
	branch = humble
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = https://github.com/RobotWebTools/web_video_server.git
	branch = ros2
